    //<МИКСИНЫ>===============================================================================================
    @import "mixins";
    //</МИКСИНЫ>===============================================================================================
    //<ШРИФТЫ>===============================================================================================
    //<Подключаем шрифты>=======================================================================================
    @import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap&subset=cyrillic-ext);
    @import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700&display=swap&subset=cyrillic-ext);
    @import "fonts";
    //</Подключаем шрифты>=======================================================================================
    //<Иконочные шрифты>==========================================================================================
    //@import "icons";
    //</Иконочные шрифты>==========================================================================================
    //<Шрифт по умолчанию>==========================================================================================
    $fontFamily: "PT Sans";
    //</Шрифт по умолчанию>==========================================================================================
    //</ШРИФТЫ>=======================================================================================================
    //<ПЕРЕМЕННЫЕ>===========================================================================================================
    $minWidth: 320px;
    $maxWidth: 1170;
    $maxWidthContainer: 970;
    $md1: $maxWidthContainer+12;
    $md2: 991.98;
    $md3: 767.98;
    $md4: 479.98;
    //</ПЕРЕМЕННЫЕ>===========================================================================================================
    //<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
    @import "null";
    body {
        color: #000;
        font-size: 14px;
        &._lock {
            overflow: hidden;
        }
    }
    
    //</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
    //<ОБОЛОЧКА>===========================================================================================================
    .wrapper {
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    //</ОБОЛОЧКА>===========================================================================================================
    //<ОСНОВНАЯ СЕТКА>===========================================================================================================
    ._container {
        max-width: $maxWidthContainer + px;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    //</ОСНОВНАЯ СЕТКА>===========================================================================================================
    //<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
    @import "forms";
    @import "ui";
    //</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
    //<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
    //@import "datepicker";
    //@import "lightgallery";
    //@import "pagging";
    @import "popup";
    @import "header";
    @import "footer";
    @import "home";
    //</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
    //<ОСНОВНОЙ БЛОК>====================================================================================================
    .page {
        flex: 1 1 auto;
    }
    
    .main-slider {
        position: relative;
        // .main-slider__body
        &__body {}
        // .main-slider__item
        &__item {}
        // .main-slider__control
        &__control {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 80px;
            height: 80px;
            transform: translate(-50%, 50%);
            display: flex;
            justify-content: center;
            align-items: center;
            &:after {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: rotate(-45deg);
            }
        }
    }
    
    .item-main-slider {
        text-align: center;
        padding: 30px 0px 100px 0px;
        position: relative;
        // .item-main-slider__content
        &__content {
            position: relative;
            z-index: 2;
            height: 100%;
        }
        // .item-main-slider__container
        &__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        &__text {
            flex: 1 1 auto;
            font-family: "PT SANS";
            font-size: 15px;
            color: #fff;
            margin: 25px auto 0px auto;
            max-width: 700px;
            line-height: calc(25 / 15);
        }
        // .item-main-slider__bg
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        // .item-main-slider__btn
        &__btn {
            margin: 50px 0px 0px 0px;
        }
    }
    
    .control-main-slider {
        // .control-main-slider__arrow
        &__arrow {
            position: relative;
            z-index: 3;
            background: url("../img/icons/sl-arrow.png") 0 0 no-repeat;
            width: 14px;
            height: 24px;
            cursor: pointer;
            // .control-main-slider__arrow_prev
            &_prev {}
            // .control-main-slider__arrow_next
            &_next {
                transform: rotate(-180deg);
            }
        }
        // .control-main-slider__decor
        &__decor {
            position: relative;
            z-index: 2;
            width: 24px;
            margin: 0 12px;
            animation: rotate 5s infinite linear;
        }
    }
    
    @keyframes rotate {
        0% {}
        100% {
            transform: rotate(360deg);
        }
    }
    
    //===================================================================================================================================
    .lots {
        padding: 85px 0px 63px 0px;
        // .lots__container
        &__container {}
        // .lots__header
        &__header {
            margin: 0px 0px 50px 0px;
        }
        // .lots__slider
        &__slider {}
    }
    
    .block-header {
        // .block-header__title
        &__title {
            margin: 0px 0px 20px 0px;
        }
        // .block-header__decor
        &__decor {}
    }
    
    .block-decor {
        display: flex;
        // .block-decor__items
        &__items {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            &:before {
                content: '';
                height: 1px;
                width: 100%;
                flex: 1 1 auto;
                background-color: #bb9c66;
            }
            ;
            &:after {
                content: '';
                height: 25px * 0.72;
                width: 25px * 0.72;
                flex: 0 0 25px * 0.72;
                border: 1px solid #bb9c66;
                transform: rotate(45deg);
            }
            ;
            span {
                display: flex;
                align-items: center;
                margin: 0 10px;
                &:before {
                    content: '';
                    height: 10px;
                    width: 10px;
                    margin: 0px 10px 0px 0px;
                    border-radius: 50%;
                    border: 1px solid #bb9c66;
                }
                ;
                &:after {
                    content: '';
                    height: 15px * 0.72;
                    width: 15px * 0.72;
                    border: 1px solid #bb9c66;
                    transform: rotate(45deg);
                }
            }
            &:last-child {
                flex-direction: row-reverse;
                span {
                    flex-direction: row-reverse;
                    &:before {
                        margin: 0px 0px 0px 10px;
                    }
                }
            }
        }
        // .block-decor__icon
        &__icon {
            text-align: center;
            flex: 0 0 145px;
            img {
                max-width: 100%;
            }
            @media (max-width: $md3+px) {
                flex: 0 0 95px;
            }
        }
    }
    
    .slider-lots {
        // .slider-lots__body
        &__body {}
        // .slider-lots__slide
        &__slide {}
        // .slider-lots__control
        &__control {}
    }
    
    .control-slider-lots {
        display: flex;
        justify-content: center;
        align-items: center;
        // .control-slider-lots__arrow
        &__arrow {
            display: flex;
            height: 35px;
            max-width: 108px;
            flex: 1 1 108px;
            align-items: center;
            cursor: pointer;
            span {
                background: url("../img/icons/sl-arrow.svg") 0 0 no-repeat;
                width: 100%;
                height: 100%;
            }
            &:last-child {
                transform: rotate(180deg);
            }
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                margin: 0px 0px 0px 5px;
                border-radius: 50%;
                border: 1px solid #bb9c66;
            }
            ;
        }
        // .control-slider-lots__link
        &__link {
            background: url("../img/icons/circle.png") 0 0 no-repeat;
            margin: 0 20px;
            flex: 0 0 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 21px;
            color: #000;
            font-weight: 500;
            text-transform: uppercase;
            font-family: "PFDin";
        }
    }
    
    //===================================================================================
    //</ОСНОВНОЙ БЛОК>====================================================================================================